# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/aptivo_connect?retryWrites=true&w=majority

# App Configuration
NEXT_PUBLIC_APP_NAME="Aptivo Connect"
NEXT_PUBLIC_APP_TAGLINE="Meet. Build. Experience. Access."
